@charset "utf-8";
/* CSS Document */

header {
    background-color:#FFFFFF;
    height:70px;
    width:100%;
    border-bottom: solid 1px #CCCCCC;
    background-image: URL("images/logo.png");
    background-position: 20px;
    background-repeat: no-repeat;
}
